---
const node_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg'
const django_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg'
const pg_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-plain.svg'
const dynamo_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dynamodb/dynamodb-plain.svg'
const vue_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg'
const go_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original-wordmark.svg'
const mysql_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg'
const python_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg'
const rust_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rust/rust-original.svg'
const elixir_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/elixir/elixir-plain.svg'
const phoenix_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/phoenix/phoenix-original.svg'
const astro_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg'
const java_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg'
const spring_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg'

const ts_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-plain.svg'
const next_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-plain.svg'
const svelte_icon = 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/svelte/svelte-plain.svg'
---

<div class="not-prose">

  <a href="/blog/launch-nodejs-vue-monorepo/" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="font-bod">Nodejs with Vue and Amazon DynamoDB</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">
      <img class="max-h-6 ml-2 block invert" src={node_icon} alt="NodeJS" height="24" width="24">
      <img class="max-h-6 ml-2 block invert" src={dynamo_icon} alt="Amazon DynamoDB" width="24">
      <img class="max-h-6 ml-2 block" src={vue_icon} alt="VueJS" width="24">

      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a> 
  
  <!-- <a href="" class="py-6 flex items-center justify-between border-b border-white/20">
       <div>
       <h2 class="">Go with Gin and MySQL</h2>
       </div>
       <div class="lang-logo flex items-center ml-6">

       
       <img class="max-h-6 ml-2" src={go_icon} alt="Golang" width="24" />
       <img class="max-h-6 ml-2" src={mysql_icon} alt="Golang" width="24" />
       <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
       <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
       </svg>
       </div>
       </a>  -->

  <a href="https://noop.dev/blog/launch-django-app/" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="">Python with Django and PostgreSQL</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">
      <img class="max-h-6 ml-2 block" src={python_icon} alt="Python Logo" height="24" width="24" />
      <img class="max-h-6 ml-2 block" src={django_icon} alt="Django Logo" height="24" width="24" />
      <img class="max-h-6 ml-2 block" src={pg_icon} alt="Postgres Logo" height="24" width="24" />

      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>

  <a href="https://noop.dev/blog/launch-rust-app/" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="">Rust with Actix and PostgreSQL</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">


      <img class="max-h-6 ml-2 " src={rust_icon} alt="Rust Lang Logo" height="24" width="24">
      <img class="max-h-6 ml-2 " src={pg_icon} alt="Postgres" height="24" width="24">

      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>

  <a href="https://github.com/noop-inc/template-typescript-next" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="font-bod">Typescript with Next.js</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">
      <img class="max-h-6 ml-2 block invert" src={ts_icon} alt="Typescript" height="24" width="24">
      <img class="max-h-6 ml-2 block invert" src={next_icon} alt="next.js" width="24">

      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>


  <a href="https://github.com/noop-inc/template-svelte-kit" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="font-bod">SvelteKit SSR</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">
      <img class="max-h-6 ml-2 block invert" src={svelte_icon} alt="Svelte" height="24" width="24">

      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a> 
  
  <a href="/blog/launch-astro-site/" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="">Static Site with Astro</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">

      <img class="max-h-6 ml-2" src={astro_icon} alt="Astro.build Logo" height="24" width="24">
      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>


  <a href="https://noop.dev/blog/launch-phoenix-app/" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="">Elixir with Phoenix and Postgres</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">
      <img class="max-h-6 ml-2" src={elixir_icon} alt="Elixir" height="24" width="24">
      <img class="max-h-6 ml-2" src={phoenix_icon} alt="" height="24" width="24">
      <img class="max-h-6 ml-2" src={pg_icon} alt="" height="24" width="24">

      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>


  <a href="https://noop.dev/blog/launch-spring-boot-app/" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="">Java with SpringBoot and Postgres</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">
      <img class="max-h-6 ml-2" src={java_icon} alt="Java" width="24">
      <img class="max-h-6 ml-2" src={spring_icon} alt="Spring Boot" width="24">
      <img class="max-h-6 ml-2" src={pg_icon} alt="" width="24">
      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>
  

  <a href="https://github.com/orgs/noop-inc/discussions/new?category=feature-requests-and-ideas" class="py-6 flex items-center justify-between border-b border-white/20 text-lime-500">
    <div>
      <h2 class="">Suggest One</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">
      <svg class="h-5 w-5 flex-none ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>

</div>

<style>
 .lang-logo img {
   filter: invert(1) grayscale(100) brightness(1.7);
 }
</style>
